<ossec_config>
  <client>
    <!-- Manager IP — rendered from defaults/main.yml -->
    <server>
      <address>{{ wazuh_manager_ip }}</address>
      <port>1514</port>
      <protocol>tcp</protocol>
    </server>
    <config-profile>ubuntu, ubuntu22</config-profile>
    <notify_time>10</notify_time>
    <time-reconnect>60</time-reconnect>
    <auto_restart>yes</auto_restart>
  </client>

  <logging>
    <log_format>plain</log_format>
  </logging>

  <syscheck>
    <frequency>300</frequency>
    <directories realtime="yes">/etc,/usr/bin,/usr/sbin</directories>
    <directories realtime="yes">/bin,/sbin</directories>
  </syscheck>

  <localfile>
    <log_format>syslog</log_format>
    <location>/var/log/auth.log</location>
  </localfile>

  <active-response>
    <disabled>no</disabled>
  </active-response>
</ossec_config>